.country-detected-wrapper {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 88%;
  padding-top: 60px;

  @media ( max-width: 1024px ) {
    align-items: flex-start;
    flex-direction: column;
  }

  .country-flag {
    width: 460px;
    height: auto;

    @media ( max-width: 1024px ) {
      max-width: 100%;
    }
  }

  .country-info-container {
    padding-left: 120px;
    word-break: break-all;

    @media ( max-width: 1024px ) {
      padding-left: 0;
    }

    header {
      .country-title {
        color: #ffffff;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 20px;

        @media ( max-width: 1024px ) {
          font-size: 18px;
        }
      }
    }
  }

  .corona-stats {
    padding-top: 10px;

    .corona-title {
      color: #ffffff;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 18px;

      @media ( max-width: 1024px ) {
        font-size: 16px;
      }
    }

    .info-wrapper {
      color: #ffffff;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 14px;
      line-height: 20px;
      
      @media ( max-width: 1024px ) {
        font-size: 12px;
      }
      
      .info-label {
        font-weight: 600;
      }

      .info-content {
        font-weight: 400;
      }
    }
  }

  .main-info-columns {
    display: flex;

    @media ( max-width: 1024px ) {
      flex-direction: column;
    }
  }

  .left-column,
  .right-column {
    .info-wrapper {
      color: #ffffff;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 14px;
      line-height: 26px;
      
      @media ( max-width: 1024px ) {
        font-size: 12px;
      }
      
      .info-label {
        font-weight: 600;
      }

      .info-content {
        font-weight: 400;
      }
    }
  }
}