.countries-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 90%;
  padding-left: 0;
  padding-bottom: 60px;

  @media ( max-width: 1024px ) {
    align-items: center;
    flex-direction: column;
  }
}

.country-card {
  background-color: #2b3945;
  border-radius: 6px;
  cursor: pointer;
  max-width: 300px;
  margin: 20px 10px;
  list-style: none;
  transition: box-shadow .3s ease;

  &:hover {
    box-shadow: -2px 2px 17px -3px rgba(0,0,0,0.75);
  }

  @media ( max-width: 1024px ) {
    margin: 20px 0;
  }

  .country-card-flag {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    height: 200px;
    object-fit: cover;
    width: 300px;
  }

  .country-card-info-wrapper {
    padding-bottom: 30px;

    .country-card-title {
      color: #ffffff;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 16px;
      font-weight: 800;
      margin: 15px 0;
      padding: 0 20px;
    }

    .info-wrapper {
      color: #ffffff;
      padding-left: 20px;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 14px;
      
      .info-label {
        font-weight: 600;
      }

      .info-content {
        font-weight: 400;
      }
    }
  }
}